<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador Financeiro</title>
    <link rel="stylesheet" type="text/css" href="financialmanager.css">
</head>

<body>
    <header>
        <h1>Gerenciador Financeiro</h1>
        <nav>
            <a href="/" class="nav-button ">Home</a>
            <a href="/budget" class="nav-button active">Novo Orçamento</a>
            <a href="/transaction" class="nav-button ">Histórico de Transações</a>
            <a href="/financial" class="nav-button ">Relatórios Financeiros</a>
            <a href="/" class="nav-button ">Importar Dados</a>
            <a href="/" class="nav-button ">Exportar Dados</a>
            <form class="nav-button" id="nav-form" method="post" action="#" th:action="@{/logout}">
                <button class="nav-button" id="nav" sec:authorize="!isAuthenticated()" type="submit">Logout</button>
            </form>
        </nav>
        <input id="menu-hamburguer" type="checkbox" />

        <label for="menu-hamburguer">
            <div class="menu">
                <span class="hamburguer"></span>
            </div>
        </label>
    </header>
    <div id="menu-lateral">
        <a href="/">Home</a>
        <a href="/budget">Novo Orçamento</a>
        <a href="/transaction">Histórico de Transações</a>
        <a href="/financial">Relatórios Financeiros</a>
        <a href="/">Importar Dados</a>
        <a href="/">Exportar Dados</a>
        <form method="post" action="#" th:action="@{/logout}">
            <button id="aside" sec:authorize="!isAuthenticated()" type="submit">Logout</button>
        </form>
    </div>
    <div class="container">

        <div class="form-container">
            <form method="post" action="#" id="form" th:action="@{/budget}" th:object="${budget}">
                <h2>Novo Orçamento</h2>
                <input id="categoriagasto" name="categoriagasto" type="text" placeholder="Categoria">
                <input id="descricao" name="descricao" type="text" placeholder="Descrição
                ">
                <input id="valorOrcado" name="valorOrcado" type="number" placeholder="Valor">
                <button class="buttons">Adicionar Orçamento</button>
            </form>
        </div>
        <div class="button-container">
            <button class="buttons" id="new-transaction">Novo Orçamento</button>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const menuHamburguer = document.getElementById('menu-hamburguer');
            const menuLateral = document.getElementById('menu-lateral');
            const newTransactionButton = document.getElementById('new-transaction');
            const formContainer = document.getElementsByClassName('form-container')[0]; // Acessar o primeiro elemento

            menuHamburguer.addEventListener('click', function () {
                if (menuHamburguer.checked) {
                    menuLateral.style.right = '0';
                } else {
                    menuLateral.style.right = '-290px';
                }
            });

            newTransactionButton.addEventListener('click', function () {
                if (formContainer.style.display === 'none' || formContainer.style.display === '') {
                    formContainer.style.display = 'block';
                    newTransactionButton.textContent = 'Cancelar';


                } else {
                    formContainer.style.display = 'none';
                    newTransactionButton.textContent = 'Novo Orçamento';

                    document.getElementById('descricao').value = '';
                    document.getElementById('valor').value = '';
                }
            });
        });

    </script>


</body>

</html>